n8n/daily-cfo-email.workflow.json
{
  "name": "Daily CFO Email — AP InvoiceFlow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "cron-dubai-8am",
      "name": "Cron 08:00 Dubai (04:00 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "0 4 * * * UTC = 08:00 Asia/Dubai (GST, no DST)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AP_API_BASE}}/api/ap/cfo-daily-summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{$env.AP_COMPANY_ID}}\",\n  \"days\": 7,\n  \"send_email\": true\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-build-summary",
      "name": "Build CFO Summary (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "notes": "Calls backend that reuses buildCfoSummary metrics + outstanding / due-this-week / high-risk / pending approvals / top 3 vendors. Until that route ships, swap this node for the optional Supabase HTTP Request below."
    },
    {
      "parameters": {
        "jsCode": "const s = items[0].json;\n\nconst currency = s.currency || 'AED';\nconst fmt = (n) => `${currency} ${Number(n || 0).toLocaleString('en-AE', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`;\n\nconst vendors = (s.top_vendors || []).slice(0, 3);\nconst vendorRows = vendors.length\n  ? vendors.map((v, i) => `\n      <tr>\n        <td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb;\">${i + 1}. ${v.vendor_name || 'Unknown'}</td>\n        <td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb;text-align:right;font-variant-numeric:tabular-nums;\">${fmt(v.amount)}</td>\n      </tr>`).join('')\n  : `<tr><td colspan=\"2\" style=\"padding:12px;color:#6b7280;\">No open vendor balances</td></tr>`;\n\nconst highRisk = Number(s.high_risk_flags ?? s.high_risk_count ?? 0);\nconst pending = Number(s.pending_approvals ?? s.pending_approval ?? 0);\nconst overdue = Number(s.overdue_count ?? 0);\nconst dueWeek = Number(s.due_this_week_count ?? s.due_this_week ?? 0);\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>Daily CFO Briefing</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:Segoe UI,Helvetica,Arial,sans-serif;color:#111827;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f3f4f6;padding:24px 12px;\">\n    <tr>\n      <td align=\"center\">\n        <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;border:1px solid #e5e7eb;\">\n          <tr>\n            <td style=\"background:#0f766e;padding:20px 28px;\">\n              <div style=\"font-size:12px;letter-spacing:0.08em;text-transform:uppercase;color:#ccfbf1;\">Gnanova Finance OS</div>\n              <div style=\"font-size:22px;font-weight:700;color:#ffffff;margin-top:4px;\">Daily CFO Briefing</div>\n              <div style=\"font-size:13px;color:#99f6e4;margin-top:6px;\">${s.period_label || s.as_of || new Date().toISOString().slice(0,10)} · Asia/Dubai 08:00</div>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:24px 28px;\">\n              <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td width=\"50%\" style=\"padding:0 8px 12px 0;vertical-align:top;\">\n                    <div style=\"background:#f0fdfa;border:1px solid #99f6e4;border-radius:8px;padding:14px;\">\n                      <div style=\"font-size:11px;color:#0f766e;text-transform:uppercase;letter-spacing:0.06em;\">Total outstanding</div>\n                      <div style=\"font-size:22px;font-weight:700;margin-top:4px;\">${fmt(s.total_outstanding)}</div>\n                    </div>\n                  </td>\n                  <td width=\"50%\" style=\"padding:0 0 12px 8px;vertical-align:top;\">\n                    <div style=\"background:#fff7ed;border:1px solid #fed7aa;border-radius:8px;padding:14px;\">\n                      <div style=\"font-size:11px;color:#c2410c;text-transform:uppercase;letter-spacing:0.06em;\">Due this week</div>\n                      <div style=\"font-size:22px;font-weight:700;margin-top:4px;\">${dueWeek}</div>\n                      <div style=\"font-size:12px;color:#9a3412;margin-top:2px;\">${fmt(s.due_this_week_amount)} due</div>\n                    </div>\n                  </td>\n                </tr>\n                <tr>\n                  <td width=\"50%\" style=\"padding:0 8px 12px 0;vertical-align:top;\">\n                    <div style=\"background:#fef2f2;border:1px solid #fecaca;border-radius:8px;padding:14px;\">\n                      <div style=\"font-size:11px;color:#b91c1c;text-transform:uppercase;letter-spacing:0.06em;\">Overdue</div>\n                      <div style=\"font-size:22px;font-weight:700;margin-top:4px;\">${overdue}</div>\n                      <div style=\"font-size:12px;color:#991b1b;margin-top:2px;\">${fmt(s.overdue_amount)}</div>\n                    </div>\n                  </td>\n                  <td width=\"50%\" style=\"padding:0 0 12px 8px;vertical-align:top;\">\n                    <div style=\"background:#faf5ff;border:1px solid #e9d5ff;border-radius:8px;padding:14px;\">\n                      <div style=\"font-size:11px;color:#7e22ce;text-transform:uppercase;letter-spacing:0.06em;\">High risk flags</div>\n                      <div style=\"font-size:22px;font-weight:700;margin-top:4px;\">${highRisk}</div>\n                    </div>\n                  </td>\n                </tr>\n              </table>\n\n              <div style=\"margin-top:8px;padding:14px;background:#f9fafb;border-radius:8px;border:1px solid #e5e7eb;\">\n                <div style=\"font-size:11px;color:#6b7280;text-transform:uppercase;letter-spacing:0.06em;\">Pending approvals</div>\n                <div style=\"font-size:20px;font-weight:700;margin-top:4px;\">${pending}</div>\n              </div>\n\n              <div style=\"margin-top:20px;\">\n                <div style=\"font-size:14px;font-weight:600;margin-bottom:8px;\">Top 3 vendors by outstanding</div>\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e7eb;border-radius:8px;overflow:hidden;\">\n                  <thead>\n                    <tr style=\"background:#f9fafb;\">\n                      <th align=\"left\" style=\"padding:8px 12px;font-size:11px;color:#6b7280;text-transform:uppercase;\">Vendor</th>\n                      <th align=\"right\" style=\"padding:8px 12px;font-size:11px;color:#6b7280;text-transform:uppercase;\">Outstanding</th>\n                    </tr>\n                  </thead>\n                  <tbody>${vendorRows}</tbody>\n                </table>\n              </div>\n\n              <p style=\"margin:20px 0 0;font-size:12px;color:#6b7280;line-height:1.5;\">\n                Open AP InvoiceFlow → CFO Dashboard for drill-down.\n                Ref: Gnanova Finance OS · Automated daily briefing.\n              </p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...s,\n    subject: `Daily CFO Briefing — ${fmt(s.total_outstanding)} outstanding · ${overdue} overdue`,\n    html,\n    to: $env.CFO_EMAIL,\n  },\n}];"
      },
      "id": "code-html-template",
      "name": "Render HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM || 'noreply@finreportai.com'}}",
        "toEmail": "={{$json.to || $env.CFO_EMAIL}}",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "html": "={{$json.html}}",
        "options": {}
      },
      "id": "smtp-send",
      "name": "Send via SMTP",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1080, 220],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "AP SMTP / Resend SMTP"
        }
      },
      "notes": "Map SMTP_HOST/PORT/USER/PASSWORD from backend .env. Resend users can instead use the Resend HTTP node (disabled twin below)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{$env.SMTP_FROM || 'Gnanova Finance OS <noreply@finreportai.com>'}}\",\n  \"to\": [\"{{$json.to}}\"],\n  \"subject\": {{JSON.stringify($json.subject)}},\n  \"html\": {{JSON.stringify($json.html)}}\n}",
        "options": {}
      },
      "id": "resend-send",
      "name": "Send via Resend (alt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 420],
      "disabled": true,
      "notes": "Enable this and disable SMTP node if using Resend API instead of SMTP relay."
    }
  ],
  "connections": {
    "Cron 08:00 Dubai (04:00 UTC)": {
      "main": [
        [
          {
            "node": "Build CFO Summary (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CFO Summary (API)": {
      "main": [
        [
          {
            "node": "Render HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML Email": {
      "main": [
        [
          {
            "node": "Send via SMTP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send via Resend (alt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "gnanova-ap-daily-cfo-email"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 1,
  "tags": [
    {
      "name": "ap-invoiceflow"
    },
    {
      "name": "cfo"
    }
  ]
}
